*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu";
  font-weight: 400;
  background: #F0EDE7;
}

.margin-right-100px {
  margin-right: 10rem;
}

.margin-right-10px {
  margin-right: 1rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-65px {
  margin-bottom: 6.5rem;
}

.margin-bottom-40px {
  margin-bottom: 4rem;
}

.margin-bottom-36px {
  margin-bottom: 3.6rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.margin-bottom-18px {
  margin-bottom: 1.8rem;
}

.margin-bottom-15px {
  margin-bottom: 1.5rem;
}

.margin-bottom-12px {
  margin-bottom: 1.2rem;
}

.padding-bottom-80px {
  padding-bottom: 8rem;
}

.padding-top-90px {
  padding-top: 9rem;
}

.padding-top-80px {
  padding-top: 8rem;
}

.padding-top-40px {
  padding-top: 4rem;
}

.padding-top-30px {
  padding-top: 3rem;
}

.padding-top-12px {
  padding-top: 1.2rem;
}

.padding-top-34px {
  padding-top: 3.4rem;
}

.padding-left-13px {
  padding-left: 1.3rem;
}

.pointer {
  cursor: pointer;
}

.planet-bg {
  position: absolute;
  z-index: 0;
}
.planet-bg_small {
  height: 44.3rem;
}

.container {
  position: relative;
  width: 114rem;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.section-main {
  background: #F0EDE7;
  position: relative;
}
.section-main__planet-bg {
  height: 60.9rem;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  position: relative;
  z-index: 2;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
}
.nav__logo {
  width: 12.6rem;
  padding-top: 0.8rem;
}
.nav__menu {
  list-style-type: none;
  display: flex;
}
.nav__menu-item {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
}
.nav__box-search {
  display: flex;
}
.nav__search {
  width: 24.9rem;
  height: 3.3rem;
  background: #ffffff;
  border: 0.1rem solid #404E4A;
  border-radius: 1rem 0 0 1rem;
  padding-left: 2.5rem;
}
.nav__search:focus {
  outline: none;
}
.nav__btn-search {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 4.4rem;
  height: 3.3rem;
  background: #7A7A78;
  border: 0.1rem solid #404E4A;
  border-left: none;
  border-radius: 0 1rem 1rem 0;
}
.nav__entry {
  text-decoration: none;
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
}

.icon-search {
  padding-top: 0.5rem;
  font-size: 2.2rem;
  color: #ffffff;
}

.first-title {
  font-weight: 500;
  font-size: 3rem;
}
.first-title_left {
  text-align: left;
}

.card {
  display: inline-block;
  position: relative;
}
.card__photo {
  width: 36.6rem;
}
.card__title {
  padding: 1.8rem 8.1rem;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  color: #ffffff;
  background: rgba(18, 17, 17, 0.42);
  font-weight: 500;
  font-size: 2.4rem;
  position: absolute;
  top: 46.1rem;
  transition: 0.3s all;
}
.card__title_upper {
  top: 10.1rem;
}
.card:hover .card__title {
  background: #708B85;
}
.card:active .card__title {
  border: 0.5rem solid #ffffff;
  padding: 1.8rem 6rem;
}

.wrapper-cards {
  display: flex;
  justify-content: space-between;
}

.wrapper-text {
  display: flex;
  justify-content: space-around;
}

.text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  width: 31.7rem;
  text-align: left;
}

.with-title-bg {
  display: flex;
  align-items: center;
  height: 25.7rem;
  background: rgba(0, 0, 0, 0.9) url("../img/yarn-background.png") center/cover no-repeat;
}

.third-title {
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.third-title__title-top {
  display: inline-block;
  font-size: 3rem;
}
.third-title__title-bottom {
  display: inline-block;
  font-size: 2.4rem;
}

.books {
  padding-top: 6rem;
  min-height: 50rem;
  background: rgba(166, 161, 155, 0.7);
}
.books__container {
  display: flex;
  justify-content: space-between;
}

.right-wrapper {
  display: flex;
}

.book-1 {
  padding: 3.4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  max-width: 65.7rem;
  min-height: 37.8rem;
  border-radius: 1rem;
}

.book-photo {
  margin-right: 4.5rem;
}

.block-with-text {
  text-align: left;
}
.block-with-text__name-book {
  font-weight: 500;
  font-size: 1.6rem;
}
.block-with-text__rating {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.block-with-text__description {
  font-size: 1.6rem;
  text-align-last: left;
}
.block-with-text__link {
  display: flex;
  justify-content: end;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgba(221, 49, 59, 0.56);
}

.book-2 {
  padding: 2.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  max-width: 46.3rem;
  min-height: 17.8rem;
  border-radius: 1rem;
}

.book-3 {
  padding: 2.2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  max-width: 46.3rem;
  min-height: 17.8rem;
  border-radius: 1rem;
}

.section-new {
  background: #ffffff;
  min-height: 56.2rem;
}

.video-cards {
  display: flex;
  justify-content: space-between;
}

.btn-show-more {
  width: 17.4rem;
  height: 5.8rem;
  background: #7A7A78;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer {
  min-height: 34.2rem;
  background: rgba(0, 0, 0, 0.52);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  padding-top: 0.9rem;
  text-align: left;
}
.footer-logo__logo {
  width: 12.6rem;
  margin-bottom: 1.4rem;
}
.footer-logo__description {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 10rem;
}
.footer-logo__year {
  color: #ffffff;
  font-size: 2.4rem;
}

.footer-title {
  color: #ffffff;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.info__footer-menu {
  text-align: left;
  list-style-type: none;
}
.info__footer-item {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
.info li {
  margin-bottom: 1.3rem;
}
.info li:last-child {
  margin-bottom: 0;
}

.contacts__list {
  list-style-type: none;
}
.contacts__item {
  font-size: 1.6rem;
  color: #ffffff;
  display: flex;
}
.contacts__footer-icon {
  margin-right: 1.6rem;
}

.social-media__footer-vk {
  margin-right: 2rem;
}

.breadcrumb {
  list-style: none;
  display: flex;
}
.breadcrumb__item {
  color: rgba(0, 0, 0, 0.4392156863);
  font-size: 1.5rem;
  font-weight: 500;
}
.breadcrumb__item::before {
  content: ">";
  margin-right: 1rem;
}
.breadcrumb a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4392156863);
}
.breadcrumb__without-sign::before {
  content: normal;
}

.nav-breadcrumb {
  position: relative;
  z-index: 2;
}

.articles {
  position: relative;
  background: #ffffff;
  min-height: 170rem;
  overflow: hidden;
}
.articles__planet-bg-1 {
  height: 62.5rem;
  position: absolute;
  top: -10rem;
  right: -20rem;
}
.articles__planet-bg-2 {
  height: 62.5rem;
  position: absolute;
  top: 35rem;
  left: -1rem;
}
.articles__planet-bg-2_kryuchok {
  top: 42rem;
  left: -1rem;
}

.second-title {
  font-weight: 500;
  font-size: 3rem;
  display: flex;
  align-items: center;
}
.second-title_left {
  text-align: left;
}

.second-text {
  font-size: 2rem;
  text-align: left;
}

.block-with-content {
  text-align: left;
  margin-bottom: 4rem;
}
.block-with-content__third-title {
  display: inline-block;
  background: #63827B;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
  padding: 1.3rem 4rem;
  border-radius: 1rem;
}
.block-with-content:last-child {
  margin-bottom: 0;
  padding-bottom: 6rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
.wrapper__text {
  display: block;
  background: #F0EDE7;
  font-size: 2rem;
  padding: 2.4rem 2.4rem 0 2.4rem;
  border-radius: 1rem;
  min-height: 32.6rem;
  width: 56rem;
}
.wrapper__text ul {
  padding-left: 3.3rem;
}
.wrapper__text a {
  color: #6CA1DE;
  text-decoration: none;
}
.wrapper__img {
  min-height: 32.6rem;
}

.calculator-follows {
  position: fixed;
  z-index: 2;
  top: 9rem;
  right: 0;
  width: 5.3rem;
  height: 21.4rem;
  text-decoration: none;
}
.calculator-follows__text {
  color: #ffffff;
  font-size: 2.4rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background: #A6A19B;
  padding: 3.2rem 1.2rem;
  border-radius: 0 1rem 1rem 0;
}

.test-section {
  min-height: 100rem;
}

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(18, 17, 17, 0.3490196078);
  display: none;
}

.registration-popup {
  z-index: 6;
  padding: 2.4rem;
  position: absolute;
  height: 65.5rem;
  width: 49rem;
  border-radius: 1rem;
  background: #E8E3DA;
  top: 5.6rem;
  right: 0;
  display: none;
}
.registration-popup__planet {
  position: absolute;
  top: 0;
  right: 0;
}
.registration-popup__wrapper {
  position: relative;
  padding: 4rem 6.2rem 0 6.2rem;
  height: 60.7rem;
  width: 44.2rem;
  background: rgba(254, 254, 251, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 1rem;
}
.registration-popup__exit {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 0.9rem;
  margin-bottom: 0.6rem;
}

.title {
  display: flex;
  justify-content: center;
}
.title__authorization {
  font-size: 2.6rem;
  color: #ffffff;
  background: #95AFA9;
  padding: 1.25rem 3.2rem;
  border-radius: 1rem 0 0 1rem;
  font-weight: 400;
  cursor: pointer;
}
.title__authorization_activated {
  color: #4C615C;
  background: #ffffff;
  border: 1px solid #4C615C;
}
.title__registration {
  font-size: 2.6rem;
  color: #4C615C;
  background: #ffffff;
  padding: 1.25rem 2rem;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #4C615C;
  font-weight: 400;
  cursor: pointer;
}
.title__registration_deactivated {
  color: #ffffff;
  background: #95AFA9;
  border: none;
}
.title__registration_password-recovery {
  border: none;
  border-radius: 1rem;
  padding: 1.25rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}
.form__text {
  font-size: 2rem;
  color: #000000;
}
.form__text2 {
  font-size: 1.3rem;
  color: #000000;
}
.form__text3 {
  font-size: 1.5rem;
  color: #000000;
}
.form__input {
  border: none;
  border-radius: 1rem;
  background: #ffffff;
  width: 31.8rem;
  height: 5.5rem;
  font-size: 2rem;
  padding-left: 1.6rem;
}
.form__checkbox {
  border: none;
  margin-right: 0.8rem;
}
.form__wrapp {
  display: flex;
  justify-content: space-between;
}
.form__btn {
  color: #ffffff;
  font-size: 2.6rem;
  background: #95AFA9;
  padding: 1.25rem 3.35rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.form__btn_authorization {
  width: 12rem;
  height: 5.5rem;
  padding: 1.25rem 2.2rem;
  margin-right: auto;
  margin-left: auto;
}
.form__btn_send {
  width: 20.9rem;
  height: 5.5rem;
  padding: 1.25rem 3.85rem;
  margin-right: auto;
  margin-left: auto;
}
.form__img {
  height: 4.8rem;
}
.form__icon-wrapper {
  text-align: center;
}
.form__icon {
  display: inline-block;
  margin-right: 1.7rem;
}
.form__icon:last-child {
  margin-right: 0;
}

.active-second {
  display: block;
}

.active {
  display: block;
  animation: popup 0.5s ease-out;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-error {
  min-height: 95.4rem;
  background: #F0EDE7;
}
.section-error__wrapper {
  min-height: 59.5rem;
  width: 95rem;
  border: 0.3rem solid #638272;
  border-radius: 1rem;
  margin: 0 auto;
}
.section-error__img {
  min-height: 18.4rem;
  width: 31.3rem;
}
.section-error__title {
  color: #000000;
  font-size: 3.2rem;
  font-weight: 400;
}
.section-error__text {
  color: #000000;
  font-size: 2rem;
}

.btn-wrapper__btn {
  display: inline-block;
  width: 12.7rem;
  text-decoration: none;
  color: #ffffff;
  background: #7A7A78;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  padding: 1.4rem 0;
  font-size: 2rem;
  margin-right: 7.3rem;
  transition: 0.5s all;
}
.btn-wrapper__btn:last-child {
  margin-right: 0;
}
.btn-wrapper__btn:hover {
  background: #63827B;
}/*# sourceMappingURL=style.css.map */